/* ////====== GLOBAL STYLES =====//// */

/* Typo */

body 
  font-family: $proximanova
  color: $text
  font-size: $font-size
  line-height: 1.5
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  @media (max-width:$screen-xs-max)
    font-size: 14px!important

a 
  color: $link
  transition: all .2s ease-in-out
  &:hover,
  &:active, 
  &:focus
    color: darken($link, 10%)
    text-decoration: none
    outline: none
  &:active
    &:focus
      outline: none
  
p 
  margin-bottom: 0
  + p 
    margin-top: 15px

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: bold
  margin-top: 0


hr
  border-top-color: $border

/* Layout */
.container-fluid
  max-width: 1400px


/* Docs */
.docs
  padding-top: 40px
  max-width: 1200px
  +center-block
.docs-heading
  text-align: center
  color: $primary
  font-size: 50px
  margin-bottom: 80px
.docs-sub-heading 
  font:
    size: 18px
    weight: 300
  color: lighten($text, 20%)
  text-transform: uppercase
  margin-bottom: 15px
.docs-section
  margin-top: 40px
  margin-bottom: 40px
  padding-bottom: 40px
  border-bottom: 1px solid $border
  .btn
    margin-right: 10px
    margin-bottom: 10px



