//* ///========== VARIABLES ==========/// *//

//Bootstrap Variables
$brand-primary:      #03a9f4 //temp
$brand-success:      #66bb6a //temp
$brand-error:        #ff8a80 //temp
$brand-warning:      #ffd54f //temp
$brand-info:         #81daf3 //temp
$text-color:         #717e88 //temp
$link-color:         $brand-success
$link-hover-color:   darken($link-color, 10%)
$font-size-base:     16px !default
$font-size:          $font-size-base

$border-radius:      4px

//Colors
$primary:            $brand-primary
$secondary:          $brand-success
$text:               $text-color
$text-lt:            lighten($text, 30%)
$text-drk:           darken($text, 15%)
$link:               $primary
$border:             lighten($text, 40%)
$form-border-wd:     1px

// Web Fonts
$proximanova:  ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif